set /*

div {
    background-color: blue;
}
.box {
    width: 100px;
    height: 100px;
    background-color: red;
}

.box:nth-child(2n){
    width: 200px;
    height: 200px;
    background-color: purple;
}
#special {
    background-color: green;

}

#special:hover{
    background-color: pink;
}

.form_control: focus{
    background-color: red;
}

*/
.tes{
    width: 100px;
    height: 100px;
    background-color: purple;
    padding: 10px;
    margin: 10px 20px 30px 5px;
    border: 2px dashed silver;
    display:inline-block;
}

.tes p {
    color: white;
    font-size: 15px;
    font-family: arial;
}

#p2 {
    color: rgba(255,0,0,1)/*#F02030*/;
}